body {
    padding-top: 5rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.form-group {
    padding: 10px;
}

form .form-label {
    font-weight: bold;
}

.light-green-background {
    background-color: #90EE90; 
    color: white;
    padding: 4px 8px; 
    border-radius: 5px; 
}

.pimg {
    height: 350px; 
    object-fit: cover; 
}